body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.App {
  display: flex;
}
.calculator {
  display: flex;
  flex-direction: column;
  width: 700px;
}
.display {
  display: flex;
  background-color: gray;
  height: 100px;
  color: white;
  font-size: bold;
}
.buttonPanel {
  display: flex;
  flex-direction: column;
}
.Group {
  display: flex;
  height: 100px;
  flex: 0.25;
}
button {
  height: 100px;
}